<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bety.web.mapper.PhotosMapper">
	<!-- 店铺列表 -->
	<select id="findPageInfo" resultType="com.bety.web.model.Photos">
		SELECT * from ec_photos su 
		<where>
		1=1 
			<if test="@Ognl@isNotBlank(imgFrom)">
				and su.img_from=#{imgFrom} 
			</if>
			<if test="@Ognl@isNotBlank(imgFromId)">
				and su.img_from_id= #{imgFromId}
			</if>
			
		</where> 
	</select>
	<select id="queryOneByFrom" resultType="com.bety.web.model.Photos">
		SELECT * from ec_photos su 
		<where>
		1=1 
			<if test="@Ognl@isNotBlank(imgFrom)">
				and su.img_from=#{imgFrom} 
			</if>
			<if test="@Ognl@isNotBlank(imgFromId)">
				and su.img_from_id= #{imgFromId} 
			</if>
			 limit 0,1
		</where> 
	</select>
	<delete id="deleteByFrom">
		delete from ec_photos where img_from=#{imgFrom} and img_from_id=#{imgFromId}
	</delete>
</mapper>
