<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bety.web.mapper.ProductFaqAnswerMapper">
	
	<!-- 商品faq列表 -->
	<select id="findPageInfo" resultType="com.bety.web.model.ProductFaqAnswer">
		SELECT su.id,su.descr,su.create_by,su.update_by,su.update_date,
		su.faq_id,su.create_date,u.name,u.head_path 
		FROM ec_faq_product_answer su left join sys_user u on su.user_id=u.id 
		<where>
			1=1 
			<if test="@Ognl@isNotBlank(faqId)">
				and faq_id=#{faqId}
			</if>
			
		</where> 
		order by su.id desc
	</select>

</mapper>
