<div class="layer">
<div class="profile-user-info profile-user-info-striped" >
	<div class="profile-info-row">
		<div class="profile-info-name">名称</div>
		<div class="profile-info-value">
			${ecFileClassification.name!}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">上级文档分类</div>
		<div class="profile-info-value">
			${pEcFileClassification.name!}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">图标</div>
		<div class="profile-info-value">
			<i class="ace-icon ${ecFileClassification.icon!} blue bigger-120"></i>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">创建者</div>
		<div class="profile-info-value">
			${ecFileClassification.createBy!}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">创建时间</div>
		<div class="profile-info-value">
			${ecFileClassification.createDate!}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">更新者</div>
		<div class="profile-info-value">
			${ecFileClassification.updateBy!}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">更新时间</div>
		<div class="profile-info-value">
			${ecFileClassification.updateDate!}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">备注</div>
		<div class="profile-info-value">
			${ecFileClassification.remarks!}
		</div>
	</div>
</div>
</div>