<div class="tabbable">
	<ul class="nav nav-tabs" id="myTab">
		<li class="active"><a data-toggle="tab" href="#home"> <i
				class="green ace-icon fa fa-list-alt bigger-120"></i>ExcelImport
		</a></li>
	</ul>

	<div class="tab-content">
		<div id="home" class="tab-pane active clearfix">
			<form action="${ctxPath}/importExcel/list" method="post" id="search-form" target="list-page" class="clearfix">
				<div class="pull-left width-25">
					<label>订单编号：</label>
					<input type="text" class="width-60" name="orderNo"/>
				</div>
					
				<div class="pull-left width-25">
					<label>卖家编码：</label>
					<input type="text" class="width-60" name="buyNo"/>
				</div>
				<div class="pull-left width-25">
					<label>店铺名称：</label>
					<input type="text" class="width-60" name="shopName"/>
				</div>
				<span data-original-title="Bottm Info" class="btn btn-info btn-sm tooltip-info" 
				id="search-btn" data-rel="tooltip" data-placement="bottom" title="查询">查询</span>
			</form>
			<div class="widget-toolbar no-border">
				<span class="btn btn-purple btn-xs" id="importFile">
					<i class="ace-icon fa fa-cloud-download bigger-130"></i>
					<span>导入数据</span>
					<input type="file" class="phide"  name="myfile" 
					data-url="${ctxPath}/importExcel/import" data-accept="application/vnd.ms-excel" 
					data-progressid="#excel-progress"
					onchange="Angel.uploadFile.excel(this);"/>
				</span>
			</div>
			<hr/>
			<div id="list-page"></div>
			<script type="text/javascript">
				$("#search-form").getPageList({'submitBtnId':'search-btn'})
			</script>
		</div>

	</div>
</div>
<#save isHide="yes" subBtnId="save-btn" formId="save-form" />
