<div class="layer">
<div class="profile-user-info profile-user-info-striped" >
	<div class="profile-info-row">
		<div class="profile-info-name">目录中文名称</div>
		<div class="profile-info-value">
			${ecCatalogue.name!}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">目录英文名称</div>
		<div class="profile-info-value">
			${ecCatalogue.englishDirectory!}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">中文报关名称</div>
		<div class="profile-info-value">
			${ecCatalogue.chCustoms!}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">英文报关名称</div>
		<div class="profile-info-value">
			${pecCatalogue.enCustoms!}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">图标</div>
		<div class="profile-info-value">
			<i class="ace-icon ${ecCatalogue.icon!} blue bigger-120"></i>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">模板类型</div>
		<div class="profile-info-value">
			
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">创建者</div>
		<div class="profile-info-value">
			${ecCatalogue.createBy!}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">创建时间</div>
		<div class="profile-info-value">
			${ecCatalogue.createDate!}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">更新者</div>
		<div class="profile-info-value">
			${ecCatalogue.updateBy!}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">更新时间</div>
		<div class="profile-info-value">
			${ecCatalogue.updateDate!}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">备注</div>
		<div class="profile-info-value">
			${ecCatalogue.remarks!}
		</div>
	</div>
</div>
</div>