<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
<title>管理后台登录</title>

<link rel="stylesheet" type="text/css" href="${ctxPath!}/static/style.css" />
<link rel="stylesheet" href="${ctxPath!}/static/css/font-awesome.min.css" />
<!--[if IE]>
<link href="${ctxPath!}/static/icon/css/font-awesome-ie7.min.css" rel="stylesheet" />
<![endif]-->

<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.js" ></script>
<script type="text/javascript">
$(document).ready(function(){
/*登录按钮背景色更改*/
   $(".forgot").hover(function(){
       $(".forgot").css("background-color","#bbbbbb");
   },function(){
   $(".forgot").css("background-color","#2790b0");
 });
 
/*输入框获取焦点时给边框添加样式
$("input").focus(function(){
  $(this).addClass("focus");
  }).blur(function(){  
     $(this).removeClass("focus"); 
  });*/
});
</script>

</head>

<body>

   <div class="login">
   <h2>EC-Product Data Management</h2>
   <h3>跨境电商管理平台</h3>
   
   <div class="login-top">
   <h1>管理员登录</h1>
   <form name="form1" id="login-form" action="${ctxPath}/login" class="myform" method="post">
   <fieldset>
     <label class="clearfix">
        <span class="input-icon"><input name="username"  id="username" type="text"  placeholder="用户名" class="form-control" autocomplete="on" datatype="*6-20" tip="用户名不能为空！" /></span>
        <i class="icon fa fa-user"></i>     </label>
     
     <label class="clearfix">
        <span class="input-icon"><input name="password"  id="password" type="password" class="form-control" placeholder="密码" datatype="*6-16" nullmsg="请输入密码！" autocomplete="off" tip="密码不能为空！"/></span>
        <i class="icon fa fa-lock"></i>   </label>
     <label class="block clearfix">
		<span class="block input-icon input-icon-right">
			<input type="text" class="form-control2 width-55 pull-left" name="code" id="code" placeholder="验证码" autocomplete="off"
			datatype="*"  nullmsg="请输入验证码！" data-error="验证码错误"/>
			<img src="${ctxPath!}/captcha?width=90&height=32" onclick="javascript:refresh(this);" id="code"
			class="pull-right" title="点击换一张" style="cursor: pointer;border: 1px solid rgb(181, 181, 181);"/>
		</span>
	</label>
   <div class="space" style="clear:both;"></div> 
   <div class="forgot" >
       <span type="button"  id="login-btn">
              <i class="iconkey fa fa-key"></i>
              <span>登&nbsp;录</span>        </span>    </div>
   </fieldset>
   </form>
  </div>
  <div class="login-bottom"></div>
  </div>
  <div class="copyright">
   <p>Copyright©2015.跨境电商管理平台 All rights reserved.</p>
</div>
<!--jQuery表单验证方法-->
<!--首先引入js库-->
<script src="${ctxPath!}/static/validate/js/jquery.validate.min.js"></script>
<script src="${ctxPath!}/static/validate/js/jquery.validate.extend.js"></script>
<script type="text/javascript">
	  function refresh(obj) {
  			obj.src = "${ctxPath!}/captcha?width=90&height=32&"+Math.random();
      };
      $(function(){
 
		 	$.validator.addMethod("stringCheck", function(value, element){
             return this.optional(element) ||/^[a-zA-Z0-9_]*$/.test(value);  //包含中文，英文字母、数字和下划线的正则表达式：/^[\u0391-\uFFE5\w]+$/
               }, "用户名仅限字母、数字和下划线");

		   $("#login-form").validate({			  
			  rules:{
			      username:{
				    required:true,
				    minlength:5,
					maxlength:16,
					stringCheck:true
				  },
				  password:{
				    required:true,
					minlength:4
				  }
			   },
			   messages:{
			       username:{
				       required:"请输入用户名！",
					   minlength:"用户名至少5个字符",
					   maxlength:"用户名长度不能超过16个字符"
				   },
				   password:{
				       required:"请输入密码！",
					   minlength:"密码长度必须4个字符以上"
				   }
			   },
			   submitHandler: function(form) {
			   		$.ajax({
						type		: "post",
				        url			: "${ctxPath}/login",
				        data		: {username:$("#username").val(),password:$("#password").val(),code:$("#code").val()},
				        dataType	: "json",
				        contentType : "application/x-www-form-urlencoded; charset=utf-8",
				        success		: function (data) {
				        	if(data.code == "SUCCESS") {
				        		window.location.href = "${ctxPath!}";
				        	} else if(data.code == "FAIL") {
				        		alert(data.error);
				      		}
				        },
				        error : function (XMLHttpRequest, textStatus, errorThrown) {
				        	
				        }
					});
			   }
			});
		 	
			$(".forgot").click(function(){
			
                 $("#login-form").submit();
		         // window.location.href="BootstrapACE/index.html";
			});

        });
</script>


</body>

</html>