<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyf.ec.mapper.EcSkuCostPriceLogMapper">

<sql id="ecSkuCostPriceLogColumns">
	id,create_by,create_date,update_by,update_date,remarks,del_flag,sku_id,old_cost_price,old_cost_price_time
</sql>

<sql id="ecSkuCostPriceLogAliasColumns">
	a.id,a.create_by,a.create_date,a.update_by,a.update_date,a.remarks,a.del_flag,a.sku_id,a.old_cost_price,a.old_cost_price_time
</sql>

<select id="findEcSkuCostPriceLog" resultType="com.gyf.ec.model.EcSkuCostPriceLog">
	select <include refid="ecSkuCostPriceLogAliasColumns"/> from ec_sku_cost_price_log a 
	<where>
		1=1
		<if test="@Ognl@isNotBlank(skuId)">
			and a.sku_id = #{skuId}
		</if>
	</where>
	order by a.id asc;
</select>

</mapper>
