
<style>
.tab-content {
    border: 1px solid #C5D0DC;
    padding: 16px 12px;
    position: relative;
    overflow: auto;
}
.carousel-control.left {
   background-image:none!important;
    background-repeat: repeat-x;
}
.carousel-control.right{
   background-image:none!important;
    background-repeat: repeat-x;
}

.well{
    border-radius: 0px;
    overflow: auto;
    height:200px
}

</style>
@var ecCatalogue = getAllEcCatalogue();
<div class="">
		<ul class="nav nav-tabs" id="myTab">
			<li class="active"><a data-toggle="tab" href="#basic_profile"> <i
					class="green ace-icon fa fa-plus bigger-120"></i>基本信息
			</a></li>
	
			 <li class=""><a data-toggle="tab" href="#affiliated_profile">
			<i class="green ace-icon fa fa-plus bigger-120"></i> 附属信息
			</a></li>
			 <li class=""><a data-toggle="tab" href="#detail_profile" onclick="mytestClick()">
			<i class="green ace-icon fa fa-plus bigger-120"></i> 详细信息
			</a></li>
		</ul>
	
	 	<div class="tab-content">
		<div id="basic_profile" class="tab-pane active clearfix">
		<table class="EditTable" width="100%">
			<tbody>
				<tr style="display: none;">
					<td class="ui-state-error" id="FormError"></td>
				</tr>
				<tr class="FormData">
					<td class="CaptionTD">商品名称：</td>
					<td class="DataTD width-100">
					${commoditySpu.name}</td>
					<tr class="FormData">
					<td class="CaptionTD">商品SPU码：</td>
					<td class="DataTD width-100">
					${commoditySpu.spuNo}</td></tr>
				<tr class="FormData">
					<td class="CaptionTD">分类：</td>
					<td class="DataTD width-100">
						${ecCatalogue[commoditySpu.type].name!}
					</td></tr>
				<tr class="FormData">
					<td class="CaptionTD">建议零售价：</td>
					<td class="DataTD width-100">
						${commoditySpu.price}</td></tr>
			<tr class="FormData">
					<td class="CaptionTD">品牌：</td>
					<td class="DataTD width-100">
					${commoditySpu.brand}</td></tr>
			<tr class="FormData">
					<td class="CaptionTD">原厂编号：</td>
					<td class="DataTD width-100">
					${commoditySpu.manufactorNo}</td></tr>
				<tr class="FormData">
					<td class="CaptionTD">单位：</td>
					<td class="DataTD width-100">
						@var attr = dict.getDictByTypeAndValue("spu_units",commoditySpu.units);
						${attr.label!}
					
					</td></tr>
					<tr class="FormData">
					<td class="CaptionTD">商品产地：</td>
					<td class="DataTD width-100">
					${commoditySpu.originPlace}</td></tr>
				<tr class="FormData">
					<td class="CaptionTD">描述：</td>
					<td class="DataTD width-100">
					${commoditySpu.descr}</td></tr>
				<tr class="FormData">
					<td class="CaptionTD">图片：</td>
					<td class="DataTD width-100">
					<div class="well well-lg">
						<ul class="ace-thumbnails">
						@ var ps = photos.getPhotosByFrom("0",commoditySpu.id,1);
						@for(p in ps){
							<li>
								<a class="cboxElement" href="${ctxPath}${p.imgUrl}" data-rel="colorbox">
									<img alt="120x120" height="120" width="120" src="${ctxPath}${p.imgUrl}">
									<div class="text">
										<div class="inner">${p.original}</div>
									</div>
								</a>
							</li>
							@}
						</ul>
					</div>
				</td></tr></tbody></table>
				
	</div>
		
		<div id="affiliated_profile" class="tab-pane">
		<table class="EditTable" width="100%">
			<tbody>
			<tr class="FormData">
					<td class="CaptionTD">销售信息：</td>
					<td class="DataTD width-100">
					${commoditySpu.sellDescr}</td></tr>
			<tr class="FormData">
					<td class="CaptionTD">其他备注：</td>
					<td class="DataTD width-100">
					${commoditySpu.otherDescr}</td></tr>
		</tbody></table></div>
		<div id="detail_profile" class="tab-pane">
			<table class="EditTable" width="100%">
			<tbody>
			<tr class="FormData">
					<td class="CaptionTD">产品标题：</td>
					<td class="DataTD width-100">
					${commoditySpu.title}</td></tr>
			<tr class="FormData">
					<td class="CaptionTD">平台：</td>
					<td class="DataTD width-100">
				@var allPlatform = platform.getAllPlatform();
					@for(platform in allPlatform){
					<span style='margin-left:3px' id="platform">
					<script type="text/javascript">
						var pf="${commoditySpu.platforms}";
						var plf = pf.split(',');
						for(var i=0;i<plf.length;i++){
							if(plf[i]=='${platform.id}')
							$('#platform').append("&nbsp;<span class='label'>${platform.name}</span>");
						}
					</script>
				</span>
				@}
				</td></tr>
				<tr class="FormData">
					<td class="CaptionTD">关键词：</td>
					<td class="DataTD width-100" id="keywords">
				<script type="text/javascript">
				 var keywors = "${commoditySpu.keywords}".split(",");
				 for(var i=0;i<keywors.length;i++){
	           		$('#keywords').append("&nbsp;<span class='label label-sm label-primary arrowed arrowed-right'>"+keywors[i]+"</span>");
				 }
			</script>
			</td></tr>
		
		<tr class="FormData">
					<td class="CaptionTD">相关图片：</td>
					<td class="DataTD width-100">
		 <div class="tabbable">
			<ul class="nav nav-tabs" id="myTab1">
				<li class="active">
					<a data-toggle="tab" href="#home1">
						<i class="green icon-home bigger-110"></i>
						有背景
					</a>
				</li>

				<li class="">
					<a data-toggle="tab" href="#profile1">
						无背景
					</a>
				</li>
			</ul>

					<div class="tab-content">
					<div id="home1" class="tab-pane active">
						<div class="well well-lg">
					<ul class="ace-thumbnails" id="simple">
					@ var ps1 = photos.getPhotosByFrom("2",commoditySpu.id,1);
					@for(p in ps1){
						<li>
							<a class="cboxElement" href="${ctxPath}${p.imgUrl}" data-rel="colorbox">
								<img alt="120x120" height="120" width="120" src="${ctxPath}${p.imgUrl}">
								<div class="text">
									<div class="inner">${p.original}</div>
								</div>
							</a>
						</li>
						@}
					</ul>	
					</div>	
					</div>

					<div id="profile1" class="tab-pane">
						<div class="well well-lg">
							<ul class="ace-thumbnails" id="simple">
						@ var ps2 = photos.getPhotosByFrom("1",commoditySpu.id,1);
						@for(p in ps2){
							<li>
								<a class="cboxElement" href="${ctxPath}${p.imgUrl}" data-rel="colorbox">
									<img alt="120x120" height="120" width="120" src="${ctxPath}${p.imgUrl}">
									<div class="text">
										<div class="inner">${p.original}</div>
									</div>
								</a>
							</li>
							@}
						</ul></div>
					</div>
					</div>
				</div>
			</td></tr>	
		<tr class="FormData">
					<td class="CaptionTD">
					产品描述：
					
					
					</td>
					<td class="DataTD width-100" id="ifreameDesc">
						<script type="text/javascript">
						function mytestClick(){
							$("#ifreameDesc").html("<iframe src='${ctxPath}/commoditySpuDesc/toDetailList?spuId=${commoditySpu.id}' width='100%' height='180px'  frameborder='no' border='0' marginwidth='0' marginheight='0' scrolling='yes' height='150px' allowtransparency='yes'>这里是产品描述</iframe>  ");
						}
						</script>
					</td>
					</tr>
					</tbody>
				</table>
		</div>
		</div>
		</div>
		@layout("/common/colorbox.html"){};
<script type="text/javascript">
<!--
$(document).ready(function(){
	$("#search-form2").getPageList({'submitBtnId':'search-btn2'});
	$("#search-form3").getPageList({'submitBtnId':'search-btn3'});

});
//-->
</script>




<!--产品规格 -->		
<div class="widget-box widget-color-green2" style="margin-top:20px;">
	<div class="widget-header clearfix">
		<h5 class="widget-title">产品规格</h5>
		<div class="widget-toolbar">
			<a href="#" data-action="fullscreen" class="orange2"> <i
				class="ace-icon fa fa-expand"></i> </a>
		</div>
	</div>
		<div class="widget-body">
		<div class="widget-main padding-8">
			<div class="row">
		<div class="widget-toolbar  width-100" style="padding-top: 2px;border:0px solid red;float:left">
			<form method="post" class="form-search" id="search-form3"
				target="list-page3" action="${ctxPath}/ecSku/listBySpuNo">
				
					<div class="input-group" style="line-height: 0px;display:none">
					<span
						class="input-group-btn"><span
						class="btn  btn-success btn-sm" id="search-btn3"> 搜索 <i
							class="ace-icon fa fa-search icon-on-right bigger-110"></i> </span></span>
				</div>
				<input type="hidden" name="spuNo" value="${commoditySpu.spuNo!}"/>
				<input type="hidden" name="isEdit" value="0"/>
			</form>
			<div class="" id="list-page3" style="width:100%;border:0px solid blue">
			</div>
		</div>
		</div>
		</div>
	</div>
</div>



		
<div class="widget-box widget-color-green2" style="margin-top:20px;">
	<div class="widget-header clearfix">
		<h5 class="widget-title">产品常见问题</h5>
		<div class="widget-toolbar">
			<a href="#" data-action="fullscreen" class="orange2"> <i
				class="ace-icon fa fa-expand"></i> </a>
		</div>
	</div>
		<div class="widget-body">
		<div class="widget-main padding-8">
			<div class="row">
		<div class="widget-toolbar  width-100" style="padding-top: 2px;border:0px solid red;float:left">
			<form method="post" class="form-search" id="search-form2"
				target="list-page2" action="${ctxPath}/productFaq/listBySpuNo">
			<div class="pull-left width-20">
					<label>问题：</label>
					<input type="text"  name="name" style="height:35px"/>
				</div>
				<div class="pull-left width-20">
				<label>类型：</label>
						@var allType = faqType.getAllFaqType();
					<#select name="typeId" width="70%">
					<option value="">全部</option>
					@for(type in allType){
							<option value="${type.id!}">
							${type.name!}
							</option>
						@}
					</#select>
				</div> 
			<div class="pull-left width-35">
					<label>本地关联：</label>
					@var ftypes = dict.getDictListByType("faq_type");
					<#select name="goodsType" id="goodsType1" width="20%">
						<option value="2">spu</option>
						</#select>
						<input type="text" name="goodsNo"  style="height:35px" width="100px" readonly="readonly" value="${commoditySpu.spuNo}"/>
						
				</div>
				<div class="input-group" style="line-height: 0px;">
					<span class="input-group-btn">
					<span class="btn  btn-success btn-sm" id="search-btn2"> 搜索 <i
							class="ace-icon fa fa-search icon-on-right bigger-110"></i> </span></span>
				</div>
				<input type="hidden" name="goodsNo" value="${commoditySpu.spuNo!}"/>
				<input type="hidden" name="isEdit" value="0"/>
			</form>
			<div class="" id="list-page2" style="width:100%;border:0px solid blue">
			</div>
		</div>
		</div>
		</div>
	</div>
</div>			