<div class="layer">
	<div class="profile-user-info profile-user-info-striped">
		<div class="profile-info-row">
			<div class="profile-info-name">任务类型名称</div>
			<div class="profile-info-value">${ecTaskType.name!}</div>
		</div>
		<div class="profile-info-row">
			<div class="profile-info-name">任务类型描述</div>
			<div class="profile-info-value">${ecTaskType.remarks!}</div>
		</div>
		<div class="profile-info-row">
			<div class="profile-info-name">任务状态</div>
			<div class="profile-info-value">${ecTaskType.status!}</div>
		</div>
	</div>		
</div>
